.container {
    /* min-height: 900px; */
    text-align: center;
}

.about {
    background-color: rgb(27, 27, 27);
    z-index: -2;
    margin-bottom: 150px;
    /* padding-top:100px */
}

#about {
    text-align: right;
    margin-right: 35px;
    color: rgba(255, 255, 255, 0.9);
}


.aboutText {
    font-size: 20px;
    width: 60%;
    color: rgba(255, 255, 255, 0.9);
    float: right;
    text-align: right;
    font-size: 30px;
    margin: 20px 5%;
    margin-top: 180px;
    background-color: rgba(27, 27, 27, 0.5);
    /* margin-bottom: 0px; */
    /* max-width: 850px; */
}

#landscape {
    right: 30%;
    height: 402px;
    margin-top: 25px;
    margin-bottom: 100px;
    position: absolute;
    overflow: hidden;
    /* z-index: -1; */
}
