.container {
    /* min-height: 900px; */
    text-align: center;
}

.about {
    margin-bottom: 150px;
    min-height: 900px;
}

.aboutText {
    width: 80%;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
    padding: 20px;
    font-size: 22px;
    margin: auto;
}

#landscape {
    height: 300px;
    text-align: center;
    margin-top: 25px;
    z-index: -1;
}
