.container {
    /* min-height: 900px; */
    text-align: center;
}

#about {
    text-align: right;
    margin-right: 35px;
}


.aboutText {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.938);
    width: 70%;
    float: right;
    text-align: right;
    /* padding: 20px 5%; */
    /* padding-bottom: 0px; */
    margin: 20px 5%;
    /* margin-top: 80px; */
    background-color: rgba(255, 255, 255, 0.5);
    /* margin-bottom: 0px; */
    /* max-width: 850px; */
}

#landscape {
    right: 22%;
    height: 332px;
    margin-top: 156px;
    margin-bottom: 100px;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}
