.container {
    min-height: 900px;
}

#friends {
    font-size: 40px;
}

#questions {
    clear: both;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.8)
}

.email {
    text-decoration: none;
    color: rgba(0, 193, 219, 0.637);
    font-size: 30px;
    padding: 5px 28px;
    display: inline-block;
    transition: 0.4s;
}
.social {
    border-radius: 18px;
    transition: 0.4s;
    padding: 20px;
    width: 50px;
}

.social:active, .email:focus {
    outline: none;
}

.itemLink {
    display: inline-block;
    transition: 0.4s;
    border-radius: 60px;
    height: 90px;
}

.itemLink:focus {
    outline: none;
}

.itemLink:hover, .itemLink:active, .itemLink:focus {
    transform: scale(0.9);
    background-color: rgba(0,0,0,0.2);
}

.item {
    height: 90px;
}

#socialList {
    list-style-type: none;
    margin: 10px 20px;
    padding: 0;
    text-align: center;
}

.imgContainer {
    display: inline-block;
   text-align: center;
   margin: 0px;
   height: 90px;
}

.email:hover, .email:active, .email:focus {
    transform: scale(1.3);
    outline: none;
    filter: invert(1);
}

.social:hover, .social:active {
    transform: scale(1.6);
    outline: none;
    filter: invert(1);
}

.mediaContainer {
    text-align: center;
    margin: 20px;
}

.amazingColor {
    color:#9352ae;
    opacity: 1;
    animation:colorchange 15s infinite alternate;
    -webkit-animation:colorchange 20s infinite alternate;
  }

.emailContainer {
    text-align: center;
    width: 100%;
}


  @keyframes colorchange {
    0% {color: blue;}
    
    10% {color: #8e44ad;}
    
    20% {color: #1abc9c;}
    
    30% {color: #d35400;}
    
    40% {color: blue;}
    
    50% {color: #34495e;}
    
    60% {color: blue;}
    
    70% {color: #2980b9;}

    80% {color: #f1c40f;}
    
    90% {color: #2980b9;}
    
    100% {color: pink;}
  }