.App {
  height: 100%;
  width: 100%;
}

body, html {
  height: 100%;
  width: 100%;
}

#hello {
  padding-top: 20px;
}

p, h1, h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Lato', sans-serif;
  /* font-weight: 400; */
  font-size: 80px;
  /* padding: 20px; */
  color: rgba(0, 0, 0, 0.3)
}

/* .container {
  background-color: rgba(255, 255, 255, 1);
} */

.output {
  min-height: 900px;
}

h1 {
  font-size:100px;
}


@keyframes blink {
  0% {
    opacity:1;
  }
  49% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}
