
#navContainer {
    /* float: right; */
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 5;
    /* right: 0px;s */
}


.linkItem {
   display: inline-block;
   line-height: 35px;
   width: 65px;
   border-radius: 18px;
   transition: 0.4s;
   padding: 5px 10px;
   /* border: 1px solid rgba(0, 0, 0, 0.1); */
   /* float: right; */
   /* margin: 8px 15px; */

}

.linkContainer {
    display: inline-block;
    transition: 0.4s;
    border-radius: 48px;
      
}

.linkContainer:hover, .linkContainer:active {
    outline: none;
    transform: scale(0.9);
    background-color: rgba(0,0,0,0.2);
    /* color: white; */
}


.linkItem:hover, .linkItem:active {
    transform: scale(1.4);
    filter: invert(1);
}
/* 
.active {
    border: 1px solid rgba(0, 0, 0, 0.1)
} */


.listItem {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin: 0px 5px;
    border-radius: 30px;
    color: rgba(0, 0, 0, 0.407);
    background-color: rgba(255, 255, 255, 0.8);
}

#navList {
    list-style-type: none;
    /* float: right; */
    text-align: center;
    padding: 0;
    padding-top: 5px;
}